{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/transform-object-assign",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
